h6{
    color: $White;
  
}

.col{
    height: 100%;
}

ul{
    list-style: none;

    li{
        margin: 10px 0;

        i{
            color: $gray;
            font-size: 12px;
        }

        a{
            text-decoration: none;
            color: $gray;
            font-size: 12px;

            &:hover{
                color: $BlackHaze
            }
        }
    }
}